@import"grid";
/*content style-style*/ 
      
.text-main{
    color: #f0648f ;
    text-decoration: none  !important;
  }
  .text-main:hover{
    color:#f33577;
  }
   
 .button-card-maincolor-sm{
     background-color: #f0648f ;
     border:none ;
     color:#f8f9fa;
     line-height: 1.5;
     text-decoration: none;
     border:none;
     box-shadow:none !important;
     
    }  
  .button-card-maincolor-sm:hover{
     color:#f8f9fa;
     background-color: #f33577;
    
    } 
 
    
  
  .alert-prompt{
    border-bottom:1px dashed  #f0648f;
  }
    
  /*content style-end*/  